{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
     <h2><a class="article-title" href="#">Contact Details</a></h2>
    <p class="article-content">
      If you have some questions regarding the FUP tool please contact one of the following people.
      <ul>
       <li>Product Owner:
           <ul>
            <li>Iulia Plosceanu :<a href= "mailto:iuia-celia-a.plosceanu@db.com">Send Email</a></li>
            </ul>
            </li>
        <li>Tester:
            <ul>
            <li>Philip Ennis: <a href= "mailto:philip.ennis@db.com">Send Email</a></li>
                <li>Taranum Khan: <a href= "mailto:taranum.khan@db.com">Send Email</a></li>
            </ul>
        </li>
        <li>Developer:
            <ul>
            <li>Gabriel Huber: <a href= "mailto:gabriel.huber@db.com">Send Email</a></li>
            <li>Kevin Middelmann: <a href= "mailto:kevin-b.middelmann@db.com">Send Email</a></li>
            </ul>
        </li>
      </ul>
    </p>
  </div>
</article>
{% endblock content %}